@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary-color: #4CAF4F;
    --secondary-color: #263238;
    --info-color:#2194F3;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: "Inter", sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    
}

nav img{
    width: 155px;
    height: 24px;
}

nav .navigation{
    display: flex;
}

nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li{
    list-style: none;
    margin-left: 50px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: #18191F;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    font-weight: 400;

}

nav .navigation ul li a.btn{
    background-color: #f5f7fa;
    height: 40px;
    width: 77px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 20px;
    
}

nav .navigation ul li a.btn-dark{
    background-color: var(--primary-color);
    height: 40px;
    width: 91px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    
}

#home{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 96px 144px 96px 144px;
    background-color: #F5F7FA;
    

}



#home .left{
    justify-content: left;
    align-items: left;
    
}

#home .right{
    justify-content: right;
    align-items: right;
    text-align: right;
}

#home .right img{
    width: 500px;
    height: 400px;
    padding-left: 100px;

}

#home .left h1{
    color: #4D4D4D;
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
}

#home .left h1 .green-txt{
    color: var(--primary-color);
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    
}

#home .left p{
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

#home .left a.btn-green{
    width: 128px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}


#clients h1{
    padding-top: 50px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
}

#clients p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717171;
    text-align: center;
}


#clients .cli-logos{
    padding-top: 50px;
    width: 100%;
    height: 98px;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
    align-items: center;
}

#clients .cli-logos .logos{

    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    
    justify-content: space-between;
    gap:40px;
    
    
    
}

#clients .cli-logos .logos img{
    margin-left: 150px;
    align-items: center;
    
}

#community{
    padding: 4vw 8vw 0 8vw;
    
}

#community h1{
    padding-top: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
}

#community p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717171;
    text-align: center;
    padding-top: 10px;
}


#community .com-base{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 128px;
    margin-top: 26px;
    margin-left: 120px;
    
}


#community .com-base .com-box{
    text-align: center;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    width: 300px;
    height: 260px;
    text-align: center;
    
}

#unlock{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    padding: 1vw 8vw 1vw 8vw;
}



#unlock .rig h1{
    padding-top: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    
    align-items: right;
    margin-bottom: 30px;
    
}

#unlock .rig p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
    
    padding-top: 10px;
    
    margin-bottom: 50px;
}

#unlock img{
    padding-top: 52px;
    padding-bottom: 52px;
    height: 442px;
    width: 433px;
    
}

#unlock .rig a.btn-green{
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    align-items: right;
    
}

#unlock aside{
    width: 50%;
    margin: 16px;
    

}

#unlock main{
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 100px;
 

}


#achievements{
    width: 100%;
    height: 288px;
    display: flex;
    padding: 64px 144px 64px 144px;
    background-color: #F5F7FA;
    

}

#achievements .ac-left{
    padding-left: 20px;
    
}


#achievements .ac-left h1{
    color: #4D4D4D;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

#achievements .ac-left h1 .green-txt{
    color: var(--primary-color);
    font-size: 36px;
    line-height: 76px;
    font-weight: 600;
    
}

#achievements .ac-left p{
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
}

#achievements .ac-right{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    padding-left: 250px;
    justify-content: center;

}

#achievements .ac-right .ac-info h1{
    color: #4D4D4D;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    
}

#achievements .ac-right .ac-info p{
    color: #717171;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


#achievements .ac-right .ac-info .ac-logo{
    width: 48px;
    height: 48px;
    align-items: center;

    
}


#calender{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 2px;
    padding: 1vw 8vw 1vw 8vw;
}



#calender .rig h1{
    padding-top: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    
    align-items: right;
    margin-bottom: 30px;
    
}

#calender .rig p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #717171;
    
    padding-top: 10px;
    
    margin-bottom: 50px;
}

#calender img{
    padding-top: 52px;
    padding-bottom: 52px;
    height: 435px;
    width: 442px;
    
}

#calender .rig a.btn-green{
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    align-items: right;
    
}

#calender aside{
    width: 50%;
    margin: 16px;
    align-items: center;
    

}

#calender main{
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    align-items: center;
    padding-bottom: 100px;
 
}



#customer{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2px;
    padding: 1vw 8vw 1vw 8vw;
    background-color: #F5F7FA;
}



#customer .rig h4{
    
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #4CAF4F;
    
    align-items: right;
    margin-bottom: 20px;
    vertical-align: middle;
    
}

#customer .rig p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #717171;
    vertical-align: middle;
    margin-bottom: 20px;
}



#customer .cli-logos .logos a.btn-green{
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    color: var(--primary-color);
    text-decoration: none;
    align-items: right;
    
}

#customer aside{
    width: 50%;
    margin: 16px;
    align-items: center;
    

}

#customer main{
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    align-items: center;
    padding-bottom: 100px;
 

}


#customer main .cli-logos{
    padding-top: 50px;
    width: 100%;
    height: 98px;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
    align-items: center;
}

#customer .cli-logos .logos{
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    
    justify-content: space-between;
    gap:40px;
    
    
    
}

#customers .cli-logos .logos img{
    margin-left: 150px;
    align-items: center;
    width: 48px;
    height: 48px;
    
}

#customer aside img{
    align-items: center;
}



#community-up{
    padding: 4vw 8vw 0 8vw;
    
}

#community-up h1{
    padding-top: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #4D4D4D;
    text-align: center;
}

#community-up h2{
    padding-top: 20px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #717171;
    text-align: center;
}

#community-up p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717171;
    text-align: center;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}


#community-up .comup-base{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 100px;
    margin-top: 26px;
    margin-left: 30px;
    padding-left: 30px;
    
}


#community-up .comup-base .comup-box{
    text-align: center;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    width: 370px;
    height: 285px;
    border-radius: 8px;
    text-align: center;
    
    
}


#community-up .comup-base .comup-box a.btn-green{
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    color: var(--primary-color);
    text-decoration: none;
    align-items: right;
    padding-top: 20px;
    
}

#community-up .comup-base .comup-box .box{
    background-color: #F5F7FA;
    margin-left: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


#footer{
    padding: 8vw 8vw 0 8vw;
    align-items: center;
    background-color: #F5F7FA;

}

#footer .first{
    
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
    padding-bottom: 100px;
    padding-top: 20px;
}

#footer .black{
    background-color: #263238;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 6vw 8vw 4vw 8vw ;

}

#footer h1{
    padding-top: 40px;
    font-size: 64px;
    line-height: 76px;
    font-weight: 600;
    color: #263238;
    text-align: center;
}

#footer a.btn-green{
    width: 151px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 700px;
    position: relative;
    top: 50px;
   
    
}

#footer a{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#footer .footer-col{
    padding-bottom: 40px;
}

#footer h3{
    list-style: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600px;
    padding-bottom: 20px;
}


#footer p{
    list-style: none;
    color: #F5F7FA;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#footer li{
    list-style: none;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #F5F7FA;
}

#footer .texts{
    margin-top: 20px;
    position: relative;
}


#footer .texts img{
    position: absolute;
    top: 10px;
    right: 10px;
    
}

#footer .black .footer-col .texts input{
    width: 255px;
    height: 40px;
    padding: 15px 12px;
    border: none;
    outline: none;
    color: white;
    background-color: #b7b7b9;
    display: block;
}

#footer .copyright .pro-links{
    padding-top: 40px;
}
